::selection {
  background: orange;
  color: black;
}

:root {
  transition: 99ms ease;
  background: #318;
  color: pink;
}

:any-link {
  transition: 33ms ease;
  color: hotpink;
  background: transparent;
}

:focus {
  outline-color: #ec0;
}

:any-link:hover {
  color: salmon;
  text-decoration-color: #e0e;
}

:any-link:active {
  color: coral;
}

mark {
  background: orange;
  color: navy;
}
